<% unless user_signed_in? %>

  <div class="jumbotron" style="margin-top: -1px">
    <div class="container">
      <h1 class="text-center">Welcome to Djello</h1>
    </div>
</div>
<% else %>
  <ui-view></ui-view>
<% end %>
