<div class="panel panel-default list" style="diplay: inline-block; word-wrap: break-word;">
  <div class="btn delete-link" ng-click="deleteList({listId: list.id, boardId: board.id})">X</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <strong editable-text="list.title" onbeforeSave="updateList({boardId: board.id, listId: list.id, title: $data, description: undefined})" class="list-text">{{list.title}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div editable-text="list.description" onbeforeSave="updateList({boardId: board.id, listId: list.id, title: undefined, description: $data})" class="list-text">{{list.description}}</div>
      </div>
    </div>
    <card-panel ng-repeat="card in list.cards" card="card" board="board" list="list" delete-card="deleteCard({boardId: board.id, listId: list.id, cardId: card.id})" edit-card="editCard()" close-card="closeCard()"></card-panel>
  </div>

  <div class="panel-footer add-card" ng-hide="cardForms[list.id]" ng-click="toggleCardForm({listId: list.id})">
    Add a Card...
  </div>

  <div class="panel-footer add-card" ng-show="cardForms[list.id]">
    <input type="text" ng-model="newCardTitle" class="form-control" placeholder="Title">
    <button class="btn btn-success" style="margin-top: 10px" ng-click="createCard({boardId: board.id, listId: list.id, title: newCardTitle})">Add</button>
    <button class="btn" style="margin-top: 10px" ng-click="toggleCardForm({listId: list.id})">X</button>
  </div>
</div>
