<div class="container-fluid board-show">
  <div class="row">
    <div class="col-xs-12">
        <h3 editable-text="board.title" onbeforesave="updateBoard($data, board)">{{ board.title }}</h3>
    </div>
  </div>

  <div class="list-container" ng-repeat="list in lists">
    <list-panel></list-panel>
  </div>

  <div class="list-container">
    <div class="panel panel-default list-create" ng-click="createList(board.id, 'Give me a title..', 'Give me a description...')">
      <div class="panel-body" ng-click="createCard()">
        <p>Create a new List...</p>
      </div>
    </div>
  </div>

</div>
