<div class="container-fluid board-show">

  <h3 editable-text="board.title" onbeforesave="updateBoard($data, board)">{{ board.title }}</h3>

  <div class="list-container" ng-repeat="list in lists">
    <div class="panel panel-default list">
      <div class="btn delete-link" ng-click="deleteList(list.id, board.id)">X</div>
      <div class="panel-body">
        <div><strong>{{list.title}}</strong></div>
        <div>{{list.description}}</div>
        <card-panel ng-repeat="card in list.cards" card="card"></card-panel>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="panel panel-default list-create" ng-click="createList(board.id, 'Give me a title..', 'Give me a description...')">
      <div class="panel-body">
        <p>Create a new List...</p>
      </div>
    </div>
  </div>

</div>
