<div class="container">
  <h3 class="page-header">Boards</h3>

  <div ng-repeat="(k,v) in boards" class="col-sm-4 col-md-3">
    <div ui-sref="boards.show({ id: {{v.id}} })">
      <div class="panel panel-default board-tile">
        <div class="panel-body">
          <p>{{v.title}}</p>
        </div>
        <div class="btn delete-link" ng-click="deleteBoard(v.id)">X</div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3">
    <div class="panel panel-default create-tile" ng-click="createBoard()">
      <div class="panel-body">
        <p>Create a new Board...</p>
      </div>
    </div>
  </div>

</div>
