// Global stylings

$navbar-height: 3.75em;

html, body {
  height: 100%;
}

// Editable modifications

.editable-click {
  color: none;
  border-bottom: none;
  cursor: pointer;
}


// Navbar

.navbar-inverse {
  background: rgb(2, 106, 167);
  border: none;
  .navbar-brand {
    color: #fff;
  }
  .navbar-text {
    color: #fff;
  }
  .navbar-link {
    color: #fff;
  }
}

// Board Index Page

.board-tile {
  background: rgb(2, 106, 167);
  color: white;
  position: relative;
  z-index: 1;
  &:hover {
    background: #286090;
    cursor: pointer;
  }
}

.delete-link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.create-tile {
  background: #ddd;
  color: #888;
  &:hover {
    background: #ccc;
    color: #777;
    cursor: pointer;
  }
}

// Board Show Page

.board-show {
  position: absolute;
  top: $navbar-height;
  left: 0;
  right: 0;
  min-height: 94.25%;
  margin-top: -3px;
  background: rgb(0, 121, 191);

  flex-direction: column;
  h3 {
    color: #fff;
  }
  white-space:nowrap;
  overflow: auto;
}

.list-container {
  max-height: 100%;
  width: 270px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.list {
  background: #e2e4e6;
  border-radius: 3px;
  word-wrap: break-word;
  position: relative;
  z-index: 1;
}

.list-create {
  background: rgb(2, 106, 167);
  border: none;
  color: #fff;
  &:hover {
    background: #286090;
    cursor: pointer;
  }
}

.list-text {
  color: #222;
}
